body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #0a0a0a;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav h1 {
    display: inline-block;
    margin: 0;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px; /* Adjust the icon size */
}

nav a i {
    vertical-align: middle;
}

section {
    padding: 100px 0;
}

.resume-download-link {
    color: #ffffff;
}

.intro {
    background: linear-gradient(45deg, #1c1c1e, #012a4a);
    text-align: center;
    padding-top: 150px;
}

.headshot {
    clip-path: circle(100px at center);
}

.intro h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.skills ul, .projects ul {
    list-style: none;
    padding: 0;
}

.skills li, .experience li, .projects li {
    margin-bottom: 10px;
}

.experience ul {
    list-style: disc inside;
    padding-left: 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
}

footer {
    background-color: #0a0a0a;
    text-align: center;
    padding: 20px 0;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Projects Section */
.project-display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

.project-card {
    display: none;
    background-color: #1c1c1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
}

.project-card.active {
    display: block;
}

.project-card h3 {
    margin-top: 0;
}

.project-card ul {
    list-style: disc inside;
    padding-left: 0;
}

/* Navigation Buttons */
.nav-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    user-select: none;
}

.nav-btn:hover {
    color: #777;
}

.left-btn {
    position: absolute;
    left: -60px;
}

.right-btn {
    position: absolute;
    right: -60px;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .nav-btn {
        font-size: 30px;
        padding: 5px;
    }

    .left-btn, .right-btn {
        left: 10px;
        right: 10px;
    }

    .project-card-container {
        max-width: 100%;
    }
}